*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */

body {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(230, 230, 230);
  font: normal 100% Georgia, serif;
}

.wrap {
  width: 95%;
}

h1 {
  text-align: center;
}

.nav {
  float: right;
  width: 65%;
  padding: 5%;
}

ul {
  list-style: none;
}

li, .single-image p {
  color: #890101;
  font-size: .6rem;
  text-transform: uppercase;
  /*float: left;*/
  width: 20%;
  text-align: center;
  margin-left: 5em;
  display: inline-block;
}

li {
  border-bottom: 3px solid orange;
}

.navStyle {
  font-weight: bolder;
  font-size: .9rem;
}

aside {
  background: url("../img/logo-bg.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 30%;
  float: left;
  position: relative;
  top: 2em;
  left: 4em;
}

aside img {
  position: absolute;
  top: 7.25em;
  left: 4em;
}
.content {
  width: 65%;
  float: right;
}

hr {
  padding: 0;
  border: none;
  border-top: 1px solid #8c8c8c;
  color: #8c8c8c;
  text-align: center;
}

hr:after {
  content: "victors & villains";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: rgb(230, 230, 230);
}

.images {
  width: 100%;
  text-align: center;
}

.single-image img {
  max-width: 100%;
  border-radius: 5px;
  margin-left: 2%;
}

.images img:nth-child(2) {
  margin-left: 0;
}

.single-image {
  max-width: 14%;
  display: inline;
  float: left;
  text-align: center;
  margin-right: 2%;
}

.single-image p {
  text-align: center;
}

footer {
  clear: both;
}

.footer-div {
  background: url("../img/ornament.png") 50%;
  background-repeat: no-repeat;
  width: 30%;
  margin-top: 15%;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.footer-div img {
  max-width: 100%;
}

/*Media Queries*/

@media screen and (max-width: 1300px) {
  .nav {
    position: absolute;
    top: 18em;
    left: 1em;
  }

  li {
    margin-bottom: 2em;
    display: list-item;
  }

  .single-image {
    max-width: 30%;
  }

  .footer-div {
    clear: both;
    width: 100%;
    text-align: center;
  }

  .content {
    margin-top: 8em;
  }
}

@media screen and (max-width: 600px) {

  .content {
    width: 100%;
  }

  .nav {
    position: absolute;
    top: -4%;
    left: -5%;
    min-width: 566px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 1.5em;
  }

  aside {
    background: none;
    clear: both;
    height: 10%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
  }

  aside img {
    margin: 0;
    position: absolute;
    left: 40%;
    transform: translate(-50%, -103%);
  }

  .nav {
    clear: both;
    width: 100%;
    margin-top: 5%;
  }

.navStyle {
    font-weight: normal;
    font-size: .7rem;
  }

  li {
    font-size: .7rem;
    display: inline-block;
  }
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
