*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(230, 230, 230);
  font: normal 100% Georgia, serif;
}

.wrap {
  width: 95%;
}

.nav {
  /*float: right;*/
  max-width: 70%;
  position: absolute;
  top: 2em;
  left: 5em;
}

ul {
  list-style: none;
}

li {
  color: #890101;
  font-size: .6rem;
  text-transform: uppercase;
  float: left;
  width: 20%;
  text-align: center;
  border-bottom: 2px solid black;
  margin-left: 5em;
}

.navStyle {
  font-weight: bolder;
  font-size: .9rem;
}

aside {
  background: url("../img/logo-bg.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 30%;
  float: left;
  position: relative;
  top: 2em;
  left: 4em;
}

aside img {
  position: absolute;
  top: 7.25em;
  left: 4em;
}
.content {
  width: 70%;
  float: right;
}
